body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #FAF0DC;
    width: 100vw;
    height: 100vh;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* this will change with diff. size */
    grid-template-columns: auto 350px auto;
    grid-template-rows: 30% 650px 50%;
    background-image: url(apple-iphone-5s.svg);
    background-repeat: no-repeat;
    background-size: 500px 900px;
    background-position: center;
    background-attachment: fixed;
}

#calculator {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    /* this will change depending on size*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 87.5px  87.5px  87.5px  87.5px 87.5px;
    background-color: #0B4141;
  }



#displayContainer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    color: #FAF0DC;
    position: relative;
}

#display {
    position: absolute;
    bottom: 0;
    right: 5px;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    border-radius: 90px;
    /* the way i calculated padding is weird */
    padding: 25% 0 0 0;
}

.button {
    text-align: center;
    margin: 5%;
    padding: 50% 0 0 0;
    background-color: #FAF0DC;
    border-radius: 50%;
}

#multiply, #divide, #minus, #plus, #equals {
    background-color: #FF6864
}

svg {
    width: 100%
}