body {
    font-family: 'Fira Sans', sans-serif;
}

#container {
    display: grid;
    width: auto;
    height: auto;
    /* this will change with diff. size */
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 20vh 60vh 20vh;
}

#calculator {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    /* this will change depending on size*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr  1fr  1fr 1fr;
    border: 1px solid blanchedalmond
  }

#display {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    font-size: 50px;
}

#backspace {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    border-radius: 50%;
    /* the way i calculated padding is weird */
    padding: 25% 0 0 0;
}

.button {
    text-align: center;
    padding: 50% 0 0 0;
    background-color: blanchedalmond;
    border-radius: 50%;
}

#tempbuttons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}