body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #FAF0DC;
    width: 100vw;
    height: 100vh;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 450px auto;
    grid-template-rows: 100px 960px auto;
}

#calculator {
    display: grid;
    padding: 0 18px 10px 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 89px  89px  89px  89px 89px;
    background-color: #0B4141;
    position: relative;
    left: 32px;
    bottom: -142px;
    width: 356px;
    height: 682px;
  }

#calculatorContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../../images/apple-iphone-5s.svg);
    background-repeat: no-repeat;
    background-size: 450px 960px;
    background-position: center;
}

#displayContainer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
    color: #FAF0DC;
    position: relative;
}

#displayArea {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 323px;
}

#display {

}

#zero {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 18px 0 0 30px;
}

.button {
    text-align: center;
    font-size: 35px;
    margin: 5px;
    padding: 18px 0 0 0;
    background-color: #0f5757;
    border-radius: 98px;
    color: #FAF0DC;
}

.button:hover {
    opacity: 0.8;
}

#home {
    position: relative;
    left: 192px;
    bottom: -157px;
    width: 72px;
    height: 72px;
}

#home:hover {
    background-image: url(../../images/GitHub-Mark-Light-120px-plus.png);
    background-size: 72px 72px;

}

.operator {
    background-color: #FF6864;
}

#clear, #plusminus, #percentage {
    background-color: #f5e2bc;
    color: #0f4141;
}

.selected {
    background-color: #FAF0DC !important;
    color: #FF6864 !important;
    transition: 0.6s;
}

@media (max-width: 475px) {
    body {
        background-color:#0B4141;
    }

    #container {
        grid-template-columns: 100vw;
        grid-template-rows: 100vh;
    }

    #calculatorContainer {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: none;
    }

    #calculator {
        grid-template-rows: 1fr 23vw 23vw 23vw 23vw 23vw;
        padding: 0 2vw 3vw 2vw;
        position: absolute;
        bottom: 0;
        left: auto;
        right: auto;
        width: 92vw;
        margin: 0 0 0 0;
    }

    .button {
        padding: 4vw 0 0 0;
        font-size: 9.2vw;
        margin: 5px;
    }

    #zero {
        padding: 4vw 0 0 6.4vw;
    }

    #home {
        width: 0px;
        height: 0px;
    }

    #displayArea {
        right: 3vw;
        width: 78vw;
    }

}